
	<div id="wrapper"> 
	
		<h1>theCOM.IT</h1>
	
		<h2>STARTUPS GET FEEDBACK. USERS GET PRIZES.</h2>
				
			<div class="leftside">
				
				<img id = "startups" border="0" src="http://thecom.it/alpha/test2/images/thecomit_homepage_startups.png"></a>
				<img id = "apply" border="0" src="http://thecom.it/alpha/test2/images/thecomit_homepage_apply.png"></a>		
				</br><img id = "member" border="0" src="http://thecom.it/alpha/test2/images/thecomit_homepage_member.png"></a>
									
			</div>
		
			<div class = "rightside">
				
				<img id = "users" border="0" src="http://thecom.it/alpha/test2/images/thecomit_homepage_users.png"></a>
				<img id = "signup" border="0" src="http://thecom.it/alpha/test2/images/thecomit_homepage_signup.png"></a>							
				</br><img id = "login" border="0" src="http://thecom.it/alpha/test2/images/thecomit_homepage_login.png"></a>
				
			</div>
					

	</div>
	
	
<?php
include("footer.php");
?>
